h1{
    background-color: brown;
    color: white;
    border-radius: 5px;
    border: 1px solid blanchedalmond;
    margin-left: 40%;
    margin-right: 40%;
    padding: 5px;
    text-align: center;
}